<div class="full-width full-height scrollable-flex"
   style="margin: 0px; padding: 10px 0px 0px 0px; max-height:600px ;max-width:1600px">
   <div soho-busyindicator [blockUI]="true" [displayDelay]="0">
      article : {{ITNOSelected}} -- Dépôt : {{WHLOSelected}}
   </div>

   <div soho-busyindicator [activated]="isBusy" [blockUI]="true" [displayDelay]="0">
      <div class="six columns">
         <app-basicgrid #basicdatagridListePOA [program]="'PPS170MI'" [transaction]="'LstPOProp'"
            [optionsDataGrid]="optionsDataGridListePoa" [initialise]="false">
         </app-basicgrid>
      </div>
      <div class="three columns">
         <div class="row" style="margin-bottom: 5px; display: flex;">
            <div class="six columns">
               <span style="margin-bottom: 3px; width: 7em;">Dépôt</span>
            </div>
            <div class="six columns">
               <input [(ngModel)]="WHLOSelected" maxlength="15" size="15" style="width: auto; height:auto;" readonly />
            </div>
         </div>
         <div class="row" style="margin-bottom: 5px; display: flex;">
            <div class="six columns">
               <span style="margin-bottom: 3px; width: 7em;">Code article</span>
            </div>
            <div class="six columns">
               <input [(ngModel)]="ITNOSelected" maxlength="15" size="15" style="width: auto; height:auto;" readonly />
            </div>
         </div>
         <div class="row" style="margin-bottom: 5px; display: flex;">
            <div class="six columns">
               <span style="margin-bottom: 3px; width: 7em;">Fournisseur</span>
            </div>
            <div class="six columns">
               <input [(ngModel)]="SUNO" maxlength="15" size="15" style="width: auto; height:auto;" />
            </div>
         </div>
         <div class="row" style="margin-bottom: 5px; display: flex;">
            <div class="six columns">
               <span style="margin-bottom: 3px; width: 7em;">Date de planification</span>
            </div>
            <div class="six columns">
               <input [(ngModel)]="PLDT" maxlength="15" size="15" style="width: auto; height:auto;"
                  placeholder="AAAAMMJJ" />
            </div>
         </div>
         <div class="row" style="margin-bottom: 5px; display: flex;">
            <div class="six columns">
               <span style="margin-bottom: 3px; width: 7em;">Quantité planifiée</span>
            </div>
            <div class="six columns">
               <input [(ngModel)]="PPQT" maxlength="15" size="15" style="width: auto; height:auto;" />
            </div>
         </div>

         <br />
         <div class="row" style="margin-bottom: 5px;">
            <div class="six columns">
               <button soho-button="primary" icon="save" (click)="createPOA()"
                  [disabled]="disabledBTenrgistrer">Créer</button>
            </div>
            <div class="six columns">
               <button soho-button="primary" icon="search" (click)="UpdatePOA()"
                  [disabled]="disabledBTenrgistrer">Traiter
                  POA</button>
            </div>
         </div>
      </div>
   </div>
