.full-width {
   height: 100vh;
   padding: 0;
}

#firstPart {
   height: calc(65% - 80px);
}

#secondPart {
   height: calc(35% - 10px);
   display: block;
}

#firstPart.expanded {
   height: calc(100% - 80px);
}

#secondPart.expanded {
   display: none;
}

#expander {
   width: 100%;
   background-color: rgb(231, 231, 231);
   height: 10px;
   margin-top: 5px;
   margin-bottom: 5px;
   text-align: center;
   font-size: 10px;
   cursor: pointer;
}


.gridStock {
   height: calc(100% - 60px);
}

#version {
   position: absolute;
   left: 20px;
   bottom: 5px;
}


input,
textarea {
   -webkit-transition: border 300ms ease 0s, box-shadow 300ms ease 0s;
   -moz-transition: border 300ms ease 0s, box-shadow 300ms ease 0s;
   -o-transition: border 300ms ease 0s, box-shadow 300ms ease 0s;
   -ms-transition: border 300ms ease 0s, box-shadow 300ms ease 0s;
   transition: border 300ms ease 0s, box-shadow 300ms ease 0s;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   -webkit-appearance: none;
   background-color: #ffffff;
   border: 1px solid #97979B;
   border-collapse: separate;
   border-radius: 2px;
   color: #000000;
   display: inline-block;
   font-size: 1.6rem;
   height: 3.8rem;
   max-width: 100%;
   padding: 0 10px;
   resize: none;
   text-align: left;
   width: 600px;
}
