<div class="row" style="margin-top:0px;margin-left: 10px; max-width: none;">
   <div class="three columns">
      <div class="field">
         <label for="Code article">Article</label>
         <input class="app-inputsearch" soho-searchfield [options]="searchfieldOptionsItem" [clearable]="true"
            style="width: auto; height:auto;" (keydown)="onKeydown($event)" placeholder="*abc" [(ngModel)]="ITNO_2"
            (selected)="onSelectedITNO($event)" (cleared)="onClear($event)" />
      </div>
   </div>
   <div class="one columns">
      <label for="Groupe dépôt">Emplacement</label>
      <select style="width: 10.25em; " soho-dropdown noSearch name="WHSL" [(ngModel)]="selectWHSL">
         <option value=""></option> <!-- Option vide -->
         <option *ngFor="let whsl of ListWHSL" [value]="whsl.WHSL">{{whsl.SLDS}}</option>
      </select>
   </div>
   <div class="one columns">
      <label for="Statut">Dépôt</label>
      <select style="width: 10.25em; " soho-dropdown noSearch name="WHLO_2" [(ngModel)]="selectWHLO_2">
         <option value="">Tout dépôts </option> <!-- Option vide -->
         <option *ngFor="let whlo of ListWHLO_2" [value]="whlo.WHLO">{{whlo.WHLO}}</option>
      </select>
   </div>
   <div class="one columns">
      <div class="field">
         <label for="Emplacement"></label>
         <button soho-button="primary" icon="search" style="width: auto; height:38px;"
            (click)="loadStock(6)">Rechercher</button>
      </div>
   </div>
   <div class="one columns">
      <div class="field">
         <label for="Emplacement"></label>
         <button soho-button="primary" icon="search" style="width: auto;margin-left: 20px;; height:38px;"
            (click)="loadMoreStock()">6 Mois
            de +</button>
      </div>
   </div>
</div>
<div class="full-width full-height scrollable-flex"
   style="margin: 0px; padding: 10px 0px 0px 0px; max-height:600px ;max-width:1600px">

   <div soho-busyindicator [activated]="isBusy" [blockUI]="true" [displayDelay]="0">
      <app-basicgrid #basicdatagridListeStockEcheance [program]="'CMS100MI'" [transaction]="'LstMSH_MT_5'"
         [optionsDataGrid]="optionsDataGridListeStockEcheance" [initialise]="false"
         (sendDataClick)="onevent($event,'sendDataClick')">
      </app-basicgrid>
   </div>
</div>

<div class="field">
   <div soho-tabs #tabtraitement [disableAutoUpdatedCall]="true" registerForEvents="activated">
      <div soho-tab-list-container>
         <ul soho-tab-list>
            <li soho-tab name="tabsmultiDep" selected="true"><a soho-tab-title tabId="tabs-multiDep">Calcul des
                  totaux</a>
            </li>
            <li soho-tab name="tabsPOA"><a soho-tab-title tabId="tabs-POA">Création POA</a></li>
            <li soho-tab name="tabsPOF"><a soho-tab-title tabId="tabs-POF">Création POF</a></li>

         </ul>
      </div>
   </div>
   <div soho-tab-panel-container #tabtraitementcontainer style="height: 50px;">
      <div soho-tab-panel tabId="tabs-multiDep" style="padding-top: 5px;">
         <cmp-totaux #cmpstockEcheance [selectWHLO_2]="selectWHLO_2" [ITNO_2]="ITNO_2"
            [selectWHSL]="selectWHSL"></cmp-totaux>
      </div>
      <div soho-tab-panel tabId="tabs-POA" style="padding-top: 5px;">
         <cmp-poa #cmppoa [ITNOSelected]="ITNO_2" [WHLOSelected]="selectWHLO_2" [USID]="USID"></cmp-poa>
      </div>
      <div soho-tab-panel tabId="tabs-POF" style="padding-top: 5px;">
         <cmp-pof #cmppof [ITNOSelected]="ITNO_2" [WHLOSelected]="selectWHLO_2" [USID]="USID"></cmp-pof>
      </div>

   </div>
</div>




<div #dialogOneColumn></div>
<div #dialogAllColumn></div>



<!--<cmp-MMS080 #cmpMMS080 [USERWHLO]="USERWHLO"></cmp-MMS080>-->
